.box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
}

.slight-transparent {
    opacity: 0.9;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.page {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-left: 0.9em;
    text-decoration: none;
    color: white;
}

.active-page {
    color: #96C6FF;
}

.page:hover {
    color: #C0D5EE;
}

.separator {
    font-size: 3rem;
    color: white;
    margin-left: 0.5em;
    margin-top: 1.25%;
}

.centered {
    justify-content: center;
}

/*html {*/
/*    box-sizing:border-box;*/
/*    font-size: 100%;*/
/*}*/

/**, *::before, *::after {*/
/*    box-sizing: inherit;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

#map {
    height: 60vh
}